@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Honk&display=swap");

*,
body {
  font-family: "Dancing Script", cursive;
  font-family: "Honk", system-ui !important;
  font-size: 35px !important;
  background-color: grey;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.containerBtn{
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-size: 50px !important;
}

p {
  margin: 20px;
  text-align: center;
}

h4 {
  text-align: center;
}

.start {
  width: 250px;
}

.retry {
  width: 250px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 5px;
  margin: 10px;
  width: 20%;
  height: 200px;
  color: black;
}

.cardImg {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.nameContainer {
  padding: 2px 16px;
}

.sticky {
  position: sticky;
  top: 0;
}
